@page
@model Hubletix.Api.Pages.Platform.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container">
    <div class="alert alert-info" role="alert">
        <p>Logging you out...</p>
    </div>
</div>
